<script src="/assets/no-one.js"></script>

  <button id="back-button">Back</button>
  <button id="next-button">Next</button>

<main id="sections">
  <section id="section-0">
    <p>
      <strong>Almost Everything is Black and White</strong>
      <br>
      Declaration of Rebellion, Extinction Rebellion
      <br>
      <em>Parliament Square, London, October 31, 2018</em>
    </p>

    <p>
      If burning fossil fuels was so bad that it threatened our very existence, how
      could we just continue like before? Why were there no restrictions? Why wasn’t
      it made illegal? (p. 5).
    </p>

    <p>
      Furthermore, does no one ever speak about the aspect of equity, or climate
      justice, clearly stated everywhere in the <a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement" target=_blank>Paris Agreement</a>
      and the <a href="https://unfccc.int/kyoto_protocol" target=_blank>Kyoto Protocol</a>, which is absolutely necessary to make the Paris
      Agreement work on a global scale? (p. 6).
    </p>

    <p>
      Because how can we expect countries like India or Nigeria to care about the
      climate crisis if we, who already have everything, don’t care even a second
      about it or our actual commitments to the Paris Agreement? (p. 8).
    </p>

    <p>
      So, why are we not reducing our emissions? Why are they, in fact, still
      increasing? Are we knowingly causing a mass extinction? Are we evil? (p. 8).
    </p>

    <p>
      When you think about ‘the future’ today, you don’t think beyond the year 2050.
      By then I will, in the best case, not even have lived half my life. What happens
      next? (p. 8).
    </p>

    <p>
      And why should I be studying for a future that soon will be no more, when no one
      is doing anything whatsoever to save that future? (p. 9).
    </p>

    <p>
      And what is the point of learning facts within the school system when the most
      important facts given by the finest science of that same school system clearly
      mean nothing to our politicians and our society? (p. 9).
    </p>
  </section>

  <section id="section-1" hidden=true>
    <p>
      <strong>Unpopular</strong>
      <br>
      UN Climate Change Conference
      <br>
      <em>Katowice, Poland, December 15, 2018</em>
    </p>

    <p>
      And if solutions within this system are so impossible to find then maybe we
      should change the system itself? (p. 14).
    </p>
  </section>

  <section id="section-2" hidden=true>
    <p>
      <strong>Prove Me Wrong</strong>
      <br>
      World Economic Forum
      <br>
      <em>Davos, January 22, 2019</em>
    </p>

    <p>
      I ask you to stand on the right side of history. I ask you to pledge to do
      everything in your power to push your own business or government in line
      with a 1.5℃ world. Will you pledge to do that? Will you pledge to join me,
      and the people all around the world, in doing whatever it takes? (p. 16).
    </p>
  </section>

  <section id="section-3" hidden=true>
    <p>
      <strong>Our House Is on Fire</strong>
      <br>
      World Economic Forum
      <br>
      <em>Davos, January 25, 2019</em>
    </p>

    <p>
      But what do we do when there is no political will? What do we do when the
      politics needed are nowhere in sight? (p. 18).
    </p>

    <div class="resp-container">
      <iframe
        class="resp-iframe"
        src="https://www.youtube.com/embed/M7dVF9xylaw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        >
      </iframe>
    </div>
    <br>
  </section>

  <section id="section-4" hidden=true>
    <p>
      <strong>I’m Too Young to Do This</strong>
      <br>
      Facebook
      <br>
      <em>Stockholm, February 2, 2019</em>
    </p>

    <p>
      Also there is one complaint that I ‘sound and write like an adult.’ And to
      that I can only say: Don’t you think that a sixteen-year-old can speak for
      herself? (p. 28).
    </p>
  </section>

  <section id="section-5" hidden=true>
    <p>
      <strong>Cathedral Thinking</strong>
      <br>
      European Parliament
      <br>
      <em>Strasbourg, April 16, 2019</em>
    </p>

    <p>
      But hardly anyone knows about these catastrophes or understands that they are
      just the first few symptoms of climate ecological breakdown. Because how could
      they? (p. 46).
    </p>

    <p>
      Everyone and everything has to change. So why waste precious time arguing about
      what and who needs to change first? (p. 48).
    </p>
  </section>

  <section id="section-6" hidden=true>
    <p>
      <strong>Together We are Making a Difference</strong>
      <br>
      Extinction Rebellion Rally
      <br>
      <em>Marble Arch, London, April 23, 2019</em>
    </p>

    <p>
      Humanity is now standing at a crossroads. We must now decide which path we
      want to take. What do we want the future living conditions for all species
      to be like? (p. 53).
    </p>
  </section>

  <section id="section-7" hidden=true>
    <p>
      <strong>Can you Hear Me?</strong>
      <br>
      Houses of Parliament
      <br>
      <em>London, April 23, 2019</em>
    </p>

    <p>
      Many of you appear concerned that we are wasting valuable lesson time, but
      I assure you we will go back to school the moment you start listening to
      science and give us a future. Is that really so much to ask? (p. 55).
    </p>

    <p>
      Is my microphone on? Can you hear me? (p. 56).
    </p>

    <p>
      Did you hear what I just said? Is my English okay? Is the microphone on?
      (p. 58).
    </p>

    <p>
      Every time we make a decision we should ask ourselves: how will this
      decision affect the curve? (p. 61).
    </p>

    <p>
      We should no longer only ask: ‘Have we got enough money to go through with
      this?’ but also: ‘Have we got enough of the carbon budget to spare to go
      through with this?' (p. 61).
    </p>

    <p>
      Many people say that we don’t have any solutions to the climate crisis.
      And they are right. Because how could we? How do you ‘solve’ the greatest
      crisis that humanity has ever faced? How do you ‘solve’ a war? How do you
      ‘solve’ going to the moon for the first time? How do you ‘solve’ inventing
      new inventions? (p. 61).
    </p>

    <p>
      ‘So, exactly how do we solve that?’ you ask us - the schoolchildren
      striking for the climate (p. 63).
    </p>
  </section>

  <section id="section-8" hidden=true>
    <p>
      <strong>The Easiest Solution is Right in Front of You</strong>
      <br>
      Austrian World Summit
      <br>
      <em>Vienna, May 28, 2019</em>
    </p>

    <p>
      Most of us don’t know almost any of the basic facts. Because how could we?
      (p. 68).
    </p>

    <p>
      When I first heard about the climate and ecological breakdown I actually
      didn’t believe that it could be happening. Because how could it be? How
      could we be facing an existential crisis that would threaten our very
      survival, and yet that wasn’t our first priority? (p. 70).
    </p>

    <p>
      And the politicians would surely have done what was needed by now,
      wouldn’t they? (p. 70).
    </p>
  </section>

  <section id="section-9" hidden=true>
    <p>
      <strong>You Can’t Simply Make Up Your Own Facts</strong>
      <br>
      French National Assembly
      <br>
      <em>Paris, July 23, 2019</em>
    </p>

    <p>
      What I really would like to ask all of those who question our so-called
      ‘opinions,’ or think that we are extreme: Do you have a different budget
      for at least a reasonable chance of staying below 1.5℃ of warming? Is
      there another intergovernmental panel on climate change? Is there a secret
      Paris agreement that we don’t know about? One that does not include the
      aspect of equity? (p. 77).
    </p>

    <p>
      Of course you could argue that we should go for a more risky pathway, such
      as the alternative of 580 gigatonnes of CO<sub>2</sub> from January 1, 2018, which
      gives us a 50:50 chance of limiting the global temperature rise to below
      1.5℃. That amount of carbon dioxide will run out in about twelve years of
      current business as usual. But why should we do that? Why should we accept
      taking that risk? Leaving the future living conditions for humankind to a
      50:50 flip of a coin? (p. 79).
    </p>

    <p>
      Once you realize how painfully small the size of our remaining
      carbon-dioxide budget is; once you realize how fast it is disappearing;
      once you realize that basically nothing is being done about it; and once
      you realize that almost no one is even aware of the fact that CO<sub>2</sub> budget
      even exists...then you tell me - just exactly what do you do? And how do
      you do it without sounding alarmist? (p. 81).
    </p>

    <p>
      And if anyone still has excuses - not to listen, not to act, not to care -
      I ask you once again: Is there another intergovernmental panel on climate
      change? Is there a secret Paris agreement that we don’t know about? One that
      does not include the aspect of equity? Do you have a different budget for at
      least a reasonable chance of staying below 1.5℃ of global temperature rise?
      (p. 82).
    </p>
  </section>

  <section id="section-10" hidden=true>
    <p>
      <strong>Wherever I Go I Seem to Be Surrounded by Fairy Tales</strong>
      <br>
      United States Congress
      <br>
      <em>Washington DC, September 18, 2019</em>
    </p>

    <p>
      Would any one of you step onto a plane if you knew it had more than a 50
      per cent chance of crashing? More to the point: would you put your
      children on that flight? (p. 88).
    </p>

    <p>
      And why is it so important to stay below the 1.5℃ limit? Because that is
      what the united science calls for, to avoid destabilizing the climate, so
      that we stay clear of setting off an irreversible chain reaction beyond
      human control. Even at 1℃ of warming we are seeing an unacceptable loss of
      life and livelihoods. So where do we begin? (p. 89).
    </p>

    <p>
      But how can we solve a problem that we don’t even fully understand? How
      can we leave out the full picture and the current best available science?
      (p. 91).
    </p>
  </section>

  <section id="section-11" hidden=true>
    <p>
      <strong>The World is Waking Up</strong>
      <br>
      UN General Assembly
      <br>
      <em>New York City, September 23, 2019</em>
    </p>

    <p>
      I should be back in school on the other side of the ocean. Yet you all
      come to us young people for hope? (p. 96).
    </p>

    <div class="resp-container">
      <iframe
        class="resp-iframe"
        src="https://www.youtube.com/embed/KAJsdgTPJpU"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        >
      </iframe>
    </div>
    <br>
  </section>

  <section id="section-12" hidden=true>
    <p>
      <strong>There is Hope</strong>
      <br>
      UN Climate Change Conference COP 25
      <br>
      <em>Madrid, December 11, 2019</em>
    </p>

    <p>
      So why is it so important to stay below 1.5℃? (p. 106).
    </p>

    <p>
      So there it is again. There is my message. This is what I want you to
      focus on. So please tell me, how do you react to these numbers without
      feeling at least some level of panic? How do you respond to the fact that
      basically nothing is being done about this, without feeling the slightest
      bit of anger? And how do you communicate this without sounding alarmist?
      (p. 106).
    </p>

    <p>
      And without that sense of urgency, how can we, the people, understand that
      we are facing a real crisis? (p. 106).
    </p>

    <div class="resp-container">
      <iframe
        class="resp-iframe"
        src="https://www.youtube.com/embed/Eo_-mxvGnq8"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        >
      </iframe>
    </div>
    <br>
  </section>

  <section id="section-13" hidden=true>
    <p>
      <strong>Our House is Still on Fire</strong>
      <br>
      World Economic Forum
      <br>
      <em>Davos, Switzerland, January 21, 2020</em>
    </p>

    <p>
      I wonder, what will you tell your children was the reason to fail and
      leave them facing the climate chaos you knowingly brought upon them? That
      it seemed so bad for the economy that we decided to resign the idea of
      securing future living conditions without even trying? (p. 106).
    </p>
  </section>
</main>
