.global-citizenship-post-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
  list-style: none;
}

.global-citizenship-post-list li {
  width: 350px;
  display: flex;
}

.global-citizenship-post-list h3 {
  font-size: 0.9em;
}

.global-citizenship-post-list h4 {
  font-size: 0.8em;
}

.post-info-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-left: 1rem;
}
