---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li id="post-{{ forloop.rindex }}">
          <img class="cover" src="{{ site.baseurl }}/assets/images/{{ post.image }}"/>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h3>
              {{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>'}}
            </h3>
            <h4>
              {{ post.book_author | escape | markdownify | remove: '<p>' | remove: '</p>'}}
            </h4>
          </a>
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div
